body {
    margin: 0;
    background-color: black;
}

.games_name {
    padding: 3rem;
    text-align: center;
}

.games_name h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: #0ee817;
}

#root canvas {
    display: block;
    margin: 0 auto;
}